
	<div ng-app="ProductsTable"></div>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
	<script type="text/javascript" src="tableauProduits.js"></script>
	
	<div ng-controller="ResearchController as RC">
	
		<!-- formulaire barre de recherche + trier par + afficher nb elements -->
		<form>
			<input type="text" value="Recherche"/>
			<select name="trierPar">
    			<option value="nom">Nom</option>
    			<option value="prix">Prix</option>
    			<option value="stock">Stock</option>
  			</select>
  			<select name="nbAfficher">
    			<option value="5">5</option>
    			<option value="10">10</option>
    			<option value="20">20</option>
    			<option value="50">50</option>
    			<option value="100">100</option>
  			</select>
		</form>
	
		<!-- zone des resultats de la recherche -->
		<div ng-repeat="plante in RC.plantes">
			<div class="col-md-2 col-sm-2 col-xs-2">
				 <img src={{plante.image}} class="img-rounded">
			</div>
			<div class="col-md-7 col-sm-7 col-xs-7">
				{{plante.nom}} <br/>
				{{plante.description}}
			</div>
			<div class="col-md-3 col-sm-3 col-xs-3">
				<form>
					<div class ="col-md-6 col-sm-6 col-xs-6">
						{{plante.quantite}}<br/>
						<input type="number" name="quantity" min="1"/>
					</div>
					<div class ="col-md-6 col-sm-6 col-xs-6">
						Prix<br/>
						<input type="submit" value="&#xf217" class="btn fa-input">
  							<i class="fa fa-shopping-cart" aria-hidden="true"></i>
					</div>
				</form>
			</div>
		</div>
	</div>


