<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xmlns="http://java.sun.com/xml/ns/javaee
 		http://www.springframework.org/schema/beans"
 		
 xmlns:context="http://www.springframework.org/schema/context"
 
 
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd
          http://www.springframework.org/schema/beans 
 http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
 http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-3.0.xsd"
 id="WebApp_ID" version="3.0">
 
 
 
 <context:component-scan base-package="com.squirrels.floremipy.service"/>

 
 <display-name>Spring MVC Security</display-name>

 
 
    <!-- Spring MVC -->
    <servlet>
        <servlet-name>mvc-dispatcher</servlet-name>
         
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
         
        <load-on-startup>1</load-on-startup>
    </servlet>
    
    <servlet-mapping>
  <servlet-name>default</servlet-name>
  <url-pattern>*.css</url-pattern>
 </servlet-mapping>

 <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
 </servlet-mapping>
 
    <servlet-mapping>
        <servlet-name>mvc-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
 
</web-app>